body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color:rgba(66, 236, 179, 0.804);
    background: linear-gradient(91.1deg, rgb(57, 31, 105) -2.3%, rgb(115, 43, 155) 44.4%, rgb(231, 75, 184) 103.4%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  p{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  button{
    background-color:rgb(145, 234, 204);
  border-radius: 10px;
  font-weight: bold;
  color: rgb(76, 16, 76);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 8px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  
  }
 
  button:hover{
    color:  rgb(147, 228, 230);
    background-color: rgb(45, 4, 70);
  }

  /*footer*/
  .foot1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;

}
.f2-1{
    padding: 15px;
}
.foot1 a{
    text-decoration: none;
   color:  rgba(66, 236, 179, 0.632);
   
   
}
.foot1 a:hover{
    text-decoration: underline;
}
.foot2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
    
}

@media screen and (max-width: 717px){

    body{
        background: rgb(183, 43, 226);
    }
    .navbar{
        background:  rgb(183, 43, 226);
    }
    .foot1{
        display: block;
    }
    .content img{
        width: 80%;
    }
}